.env
*.bak
data/
dockerData/ddns-updater/config.json
dockerData/ddns-updater/updates.json
dockerData/traefik/acme
dockerData/traefik/dynamic.yml
dockerData/traefik/static.yml
dockerData/traefik/log
dockerData/mariadb/
dockerData/nextcloud/
dockerData/redis/
